<header>
    <nav class="nav-bar">
        <a href="#" onclick="loadPage('inicio')"><img class="logo" src="assets/images/logoBoda2.jpg" alt="logo"></a>
        <div class="menu-btn">
            <div class="menu-btn_burguer"></div>
        </div>
        <ul class="nav-menu">
            <li class="nav-menu-item"><a class="nav-menu-link" href="#inicio">Inicio</a></li>
            <li class="nav-menu-item"><a class="nav-menu-link" href="#productos">Regalos</a></li>
            <li class="nav-menu-item"><a class="nav-menu-link" href="#sobre-mi">Nuestra Historia</a></li>
            <li class="nav-menu-item"><a class="nav-menu-link" href="#contacto">Contacto</a></li>
            <li class="nav-menu-item"><a class="nav-menu-link" href="#Confirmación">Confirmación</a></li>
        </ul>
    </nav>
</header>


