.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 productos por fila */
  gap: 20px; /* Espacio entre productos */
  text-align: center;
}

.grid-item {
  font-size: 20px; /* Tamaño de letra para los productos */
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #f9f9f9;
}

/* Estilos para la imagen del producto */
.grid-item img {
  max-width: 100%;
  max-height: 200px;
}

/* Estilos para el título del producto */
.product-title {
  font-weight: bold;
  margin-top: 10px;
  font-size: 18px; /* Tamaño de letra para el título del producto */
}

/* Estilos para el precio del producto */
.product-price {
  color: #e44d26;
  font-weight: bold;
  font-size: 20px; /* Tamaño de letra para el precio del producto */
}


.boton-agregar {
  display: block;
  margin: 10px auto;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.boton-agregar:hover {
  background-color: #0056b3;
}
