<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#b08ce0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,600;1,200;1,300&family=Mulish:ital,wght@0,200;0,300;1,200;1,300;1,600&family=Titillium+Web:ital,wght@0,200;0,300;0,600;1,200;1,300&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/0cebf067a0.js" crossorigin="anonymous"></script>

    <title></title>

    <link rel="icon" href="images/icons8-pincel-16.ico" type="image/x-icon">
</head>

<body>
    <app-header></app-header> <!-- Componente Header-->
    <main>
        <div id="inicio" class="section" style="margin-bottom: 80px;">

            <a href="#" onclick="loadPage('inicio')" style="display: block; text-align: center;">
                <div class="background"> </div>
            </a>
            <div id="portada-index"></div>
        </div>

        

        <div id="sobre-mi" class="section">
            <!-- Contenido de la sección "Sobre mi & FAQ's" -->
            <section class="secciones-principales" id="sobre-mi">
                <h2 class="subtitulos">Nuestra Historia</h2>
                <div id="contenedor-sobre-mi">
                    <div id="parrafos-sobre-mi">
                        <p>Bienvenido a Fiesta y Boda, tu socio confiable para hacer realidad la boda de tus sueños.</p>
                        <p>En Fiesta y Boda, entendemos que tu boda es un momento único y especial en tu vida. Es por
                            eso que nos dedicamos a convertir tus ideas y deseos en una celebración de amor
                            perfectamente ejecutada. Nuestro equipo altamente dedicado y apasionado está listo para
                            trabajar contigo en cada detalle, desde la planificación inicial hasta la ejecución
                            impecable en el día de tu boda.</p>
                        <p>Nos enorgullece ofrecer un servicio personalizado que se adapta a tus preferencias y estilo
                            individual. Desde la elección del lugar hasta la selección del menú y la decoración, nos
                            aseguramos de que cada aspecto de tu boda refleje tu personalidad y visión. Nos
                            comprometemos a hacer que este día sea inolvidable para ti y tus seres queridos, superando
                            tus expectativas en cada paso del camino.</p>
                        <br>
                        <p>Confía en Fiesta y Boda para transformar tus sueños de boda en una realidad mágica.
                            ¡Juntos, crearemos recuerdos duraderos de un día que recordarás con amor y felicidad para
                            toda la vida!</p>
                    </div>
                    <a id="boton-contacto-talleres" href="#contacto">¡Quiero recibir información sobre la organizacion
                        del evento !</a>
                </div>
            </section>
            <app-filter></app-filter><!-- Componente filter-->

       <app-carrito></app-carrito>
            <section class="secciones-principales" id="faqs">
                <h2 class="subtitulos">Preguntas frecuentes</h2>
                <div class="accordion">
                    <div *ngFor="let item of [1, 2, 3, 4, 5]; let i = index" class="accordion-item">
                        <button class="accordion-header" (click)="toggleAccordion(i)">
                            {{ getQuestion(i) }}
                            <i class="fas fa-angle-down"></i>
                        </button>
                        <div class="accordion-body" [class.active]="itemActivo === i">
                            {{ getAnswer(i) }}
                        </div>
                    </div>
                </div>
            </section>
            <section class="secciones-principales" id="facebook-embebido">
                <div id="contenedor-fb-posts">
                    <iframe style="border-radius:12px"
                        src="https://open.spotify.com/embed/playlist/2eax66N3ReK07ITlmKV39J?utm_source=generator"
                        width="100%" height="352" frameBorder="0" allowfullscreen=""
                        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                        loading="lazy"></iframe>
                </div>
            </section>
        </div>

        <div id="contacto" class="section">
            <!-- Contenido de la sección "Contacto" -->
            <h1 class='subtitulos' id="titulo-contacto">¡Creemos juntos tu siguiente Boda!</h1>
            <div id="datos-adicionales-contacto">
                <div class="datos-contacto-clasicos">
                    <p>Salon Mar del Plata(Buenos Aires)</p>
                    <p></p>
                    <div>
                        <i class="fas fa-envelope icono-contacto"></i>
                        <p>Fiesta.Boda@gmail.com</p>
                    </div>
                    <div>
                        <i class="fas fa-phone icono-contacto"></i>
                        <p>(+54) 223-5555-5555</p>
                    </div>
                    <div><i class="fab fa-whatsapp icono-contacto"></i>
                        <p>+54 9 11 5555 5555</p>
                    </div>
                </div>
                <div class="datos-contacto-redes">
                    <p>Seguinos en redes sociales para descubrir nuestros proximos eventos y conocer las novedades:</p>
                    <div>
                        <i class="fab fa-instagram icono-contacto"></i>
                        <p>@Fiesta.Boda/p>
                    </div>
                    <div>
                        <i class="fab fa-facebook icono-contacto"></i>
                        <p>Fiesta Y Boda</p>
                    </div>
                </div>
            </div>

            <div id="contenedor-secciones-contacto" class="d-flex justify-content-center align-items-center">
                <section id="Confirmación" class="container">
                    <form (ngSubmit)="onSubmit()" #formularioContacto ="ngForm" name="formulario-contacto-vickys-art"
                        method="post">
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-3">
                                    <label for="nombre" class="form-label">Nombre</label>
                                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="formValue.nombre"
                                        pattern="[a-zA-Z ]*" title="Utiliza únicamente caracteres alfabéticos" required>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mb-3">
                                    <label for="apellido" class="form-label">Apellido</label>
                                    <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="formValue.apellido"
                                        pattern="[a-zA-Z ]*" title="Utiliza únicamente caracteres alfabéticos" required>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mb-3">
                                    <label for="email" class="form-label">Correo electrónico</label>
                                    <input type="email" class="form-control" id="email" name="email" [(ngModel)]="formValue.email">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mb-3">
                                    <label for="telefono" class="form-label">Teléfono (opcional)</label>
                                    <input type="tel" class="form-control" id="telefono" name="telefono" [(ngModel)]="formValue.telefono">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mb-3">
                                    <label for="cantidad" class="form-label">Cantidad de integrantes</label>
                                    <input type="text" class="form-control" id="cantidad" name="cantidad" [(ngModel)]="formValue.cantidad">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mb-3"><button type="submit" class="btn btn-dark">Asistire</button></div>
                            </div>
                        </div>
                    </form>
                </section>


                <section id="datos-de-contacto">
                    <iframe id="mapa-google"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26297.08640363214!2d-58.49052452954408!3d-34.52478724321706!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb6a6386ba5c9%3A0xb8039ed75861da4d!2sVicente%20L%C3%B3pez%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1634234061854!5m2!1ses!2sar"
                        width="400" height="300" style="border:0;" allowfullscreen="false" loading="lazy"></iframe>
                </section>
            </div>

        </div>
    </main>
    <footer>
        <img class="logo-footer" src="assets/images/imagenPresentacion.jpg" alt="logo-redondo">
        <nav class="footer-menu">
        </nav>
        <div class="footer-social-media ">
            <a href="https://www.instagram.com/facu.alvarez4/"><i id="instagram" class="fab fa-instagram "></i></a>
            <a href="https://www.facebook.com/vickysart.21"><i id="facebook" class="fab fa-facebook "></i></a>
            <a href="https://wa.me/5491155555555"><i id="whatsapp" class="fab fa-whatsapp "></i></a>
        </div>
        <div class="footer-contacto ">
            <div><i class="fas fa-envelope "></i>
                <p>Fiesta.boda@gmail.com</p>
            </div>
            <div>
                <i class="fas fa-phone "></i>
                <p>+54 9 223 6830609</p>
            </div>
        </div>
        <div id="firma">
            <p>Hecho con un gran equipo</p>
            <a href="https://github.com/Solcii"><i id="github" class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/sol-micaela-potschka-506713130/"><i id="linkedin"
                    class="fab fa-linkedin"></i></a>
        </div>
    </footer>
</body>

</html>